<li class='nav-item dropdown'>
  <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
    <i class='fas fa-book-reader text-primary'></i> <%= t(:staff) %>
  </a>
  <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
    <li>
      <%= link_to new_staff_teaching_request_path(), class:'dropdown-item' do %>
        <i class='fas fa-chalkboard-teacher text-primary'></i> <%= t(:log_a_teaching_request) %>
      <% end %>
    </li>
    <div class='dropdown-divider'></div>
    <li><%= link_to staff_reports_overview_path, class: 'dropdown-item' do %>
      <i class='fas fa-chart-bar text-primary'></i> <%= t(:my_reports) %> <span class='text-muted text-sm'></span>
    <% end %>
    </li>
    <li><%= link_to public_teaching_calendars_path, class:'dropdown-item' do %>
      <span class='fas fa-table text-primary'></span> <%= t(:teaching_overview_calendar) %>
    <% end %>
    </li>
  </ul>
</li>
