<div class="card w-90">
  <%= simple_form_for([:staff, :admin, @user], html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="card-body">
      <h3 class='text-primary'><%= @user.name %> User Account</h3>
      <p class="small lead text-secondary"><%= t(:fields_marked_are_mandatory) %></p>
      <!-- <div class="row mt-3">
        <%= f.input :first_name %>
      </div>
      <div class="row mt-3">
        <%= f.input :last_name %>
      </div> -->

      <% for attribute in @user.attributes.keys %>
        <!-- <p><%= attribute.humanize %> <%= @user.attributes[attribute].to_s %></p> -->

        <div class="row mt-3">
          <!-- attribute.to_s  -->
          <% if attribute == 'announcements_last_read_at' || attribute == 'last_sign_in_at' || attribute == 'current_sign_in_at' || attribute == 'updated_at' || attribute == 'created_at' || attribute == 'reset_password_sent_at' || attribute == 'remember_created_at' %>

            <%= f.input attribute, as: :string, html5: false,
                    input_html: {class: "", data: { behaviour: 'flatpickr-datetime'}} %>

          <% elsif attribute == 'encrypted_password' %>
          <!-- do nothing -->
          <% elsif attribute == 'reset_password_token' %>
             <!-- f.input attribute  -->
            </div>
            <div class="row mt-3">
              <%= f.input :password %>
            </div>
            <div class="row mt-3">
              <%= f.input :password_confirmation, input_html: {autocomplete: "off"} %>
            </div>
            <div class="row mt-3">

          <% else %>

            <%= f.input attribute %>

          <% end %>

        </div>
      <% end %>

      <!-- simple_fields_for [:user, @staff_profile] do |sp| -->
      <% if @user.staff_profile %>
        <h3>Staff Profile</h3>

        <%= f.simple_fields_for :staff_profile do |sp| %>
          <div class='form-inputs'>
            <div class='mt-3'>
              <%= sp.input :specializtion_job_title %>
            </div>
            <div class='mt-3'>
              <%= sp.input :profile_bio %>
            </div>
            <div class='mt-3'>
            </div>
            <div class='mt-3'>
               <%= sp.input :role %>
            </div>
            <div class='mt-3'>
              <%= sp.association :department %>
            </div>
            <div class='mt-3'>
              <%= sp.association :user, as: :hidden %>
            </div>
            <div class='mt-3'>
              <%= sp.input :is_approved %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions card-footer">
      <%= f.button :submit, class: "btn btn-success" %>
      <%= link_to "Cancel", staff_admin_users_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
