
<div class='p-4 mb-4 rounded-3 bg-white shadow '>
  <div class='card list-card border-0 '> <!-- add css for list card to be alternative -->
    <div class='card-body p-2'>
      <div class='row'>
        <div class='col'>
          <% page_title 'Thank you!' %>
          <!-- <%= content_tag :h1, yield(:page_title) %> -->
          <h1 class='display-3'><%= t(:thank_you) %></h1>
          <hr class='primary'/>
        </div>
      </div>
      <ul>
        <li class=''><p class='fs-5'><%= t(:request_submitted) %></p></li>
        <li class=''><p class='fs-5 text-secondary'><%= t(:will_review_and_get_in_touch) %></p></li>
        <li class=''><p class='fs-5 '><%= t(:futher_questions_html) %></p></li>
      </ul>
      <hr class='dark'/>
      <div class='row pt-4 pb-4 g-3'>
        <div class='col-md-6 col-sm-12'>
          <%= link_to new_user_teaching_request_path, class: 'btn btn-success' do %>
            <i class='fa fa-plus'></i>
            <%= t(:submit_another_request) %>
          <% end %>
        </div>
        <div class='col-md-6 col-sm-12'>
          <% if user_signed_in? %>
            <%= link_to operators_index_path, class: 'btn btn-secondary' do %>
              <i class='fa fa-plus'></i>
              <%= t(:return_to_dashboard) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
