<h5 class='text-red-700'>Contact / Course Information</h5>
<dl class='row'>
  <dt class='col-md-6 col-sm-12 text-gray-700 fw-700'>I am a YorkU:</dt>
  <dd class='col-md-6 col-sm-12'><%= @request.patron_type %></dd>
  <dt class='col-md-3 col-sm-12 text-gray-700 fw-700'>Email:</dt>
  <dd class='col-md-9 col-sm-12'><%= @request.email %></dd>
</dl>
<dl class='row'>
  <dt class='col-md-6 col-sm-12 text-gray-700 fw-700'>First Name:</dt>
  <dd class='col-md-6 col-sm-12'><%= @request.first_name %></dd>
  <dt class='col-md-3 col-sm-12 text-gray-700 fw-700'>Phone:</dt>
  <dd class='col-md-9 col-sm-12'><%= @request.phone %></dd>
</dl>
<dl class='row'>
  <dt class='col-md-6 col-sm-12 text-gray-700 fw-700'>Last Name:</dt>
  <dd class='col-md-6 col-sm-12'><%= @request.last_name %></dd>
  <dt class='col-md-6 col-sm-12 text-gray-700 fw-700'></dt>
  <dd class='col-md-6 col-sm-12'></dd>
</dl>
