<h5 class='text-red-700'>Contact / Course Information</h5>
<dl class='row'>
  <dt class='col-6 text-gray-700 fw-700'>I am a YorkU:</dt>
  <dd class='col-6'><%= @request.patron_type %></dd>
  <dt class='col-3 text-gray-700 fw-700'>Email:</dt>
  <dd class='col-9'><%= @request.email %></dd>
</dl>
<dl class='row'>
  <dt class='col-6 text-gray-700 fw-700'>First Name:</dt>
  <dd class='col-6'><%= @request.first_name %></dd>
  <dt class='col-3 text-gray-700 fw-700'>Phone:</dt>
  <dd class='col-9'><%= @request.phone %></dd>
</dl>
<dl class='row'>
  <dt class='col-6 text-gray-700 fw-700'>Last Name:</dt>
  <dd class='col-6'><%= @request.last_name %></dd>
  <dt class='col-6 text-gray-700 fw-700'></dt>
  <dd class='col-6'></dd>
</dl>
