<h5 class='text-red-700'>Contact / Course Information</h5>
<div class='row mt-2'>
  <div class='col-md-6 col-sm-12'>
    <div class='text-gray-700 fw-700'>I am a YorkU:</div>
    <div class='pl-2'><%= @request.patron_type.text %></div>
  </div>
<!-- </div>
<div class='row mt-2'> -->
  <div class='col-md-6 col-sm-12'>
    <div class='text-gray-700 fw-700'>Email:</div>
    <div class='pl-2'><%= @request.email %></div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-4 col-sm-12'>
    <div class='text-gray-700 fw-700'>Name:</div>
    <div class='pl-2'><%= @request.first_name %> <%= @request.last_name %></div>
  </div>
<!-- </div>
<div class='row mt-2'> -->
  <div class='col-md-4 col-sm-12'>
    <div class='text-gray-700 fw-700'>Phone:</div>
    <div class='pl-2'><%= @request.phone %></div>
  </div>
</div>
