<h5 class='text-red-700'>Request Information</h5>
<!-- <hr /> -->

<div class='row mt-2'>
  <div class='col-md-12 col-sm-12'>
      <div class='text-gray-700 fw-700'>Faculty/Dept.:</div>
      <div class='pl-2'><%= @request.faculty %> / <%=  @request.subject.gsub(/\\'/, "'")
.html_safe %></div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-12 col-sm-12'>
    <div class='text-gray-700 fw-700'>Course/Section:</div>
    <div class='pl-2'>
        <%= @request.academic_year %> : [<%= @request.faculty_abbrev %> / <%= @request.subject_abbrev %> <%= @request.course_number %>]: <%= @request.course_title %><em><%= t(:title_not_provided) if @request.course_title == '' %></em> -
        <%= defined?(@request.section_name_or_about) ? truncate(@request.section_name_or_about, length: 25) : 'Untitled Section' %>
    </div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-6 col-sm-12'>
      <div class='text-gray-700 fw-700'>Preferred Time:</div>
      <div class='pl-2'><%= @request.preferred_date.strftime('%b %d, %Y') %> / <%= @request.preferred_time.strftime('%I:%M %p') rescue nil %></div>
  </div>
  <div class='col-md-6 col-sm-12'>
      <div class='text-gray-700 fw-700'>Alternate Time:</div>
      <div class='pl-2'><%= @request.alternate_date.strftime('%b %d, %Y') rescue nil %> / <%= @request.alternate_time.strftime('%I:%M %p') rescue nil %></div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-6 col-sm-12'>
      <div class='text-gray-700 fw-700'>Duration:</div>
      <div class='pl-2'><%= @request.duration.text %></div>
  </div>
  <div class='col-md-6 col-sm-12'>
      <div class='text-gray-700 fw-700'>Location:</div>
      <div class='pl-2'><%= @request.location_preference.text %></div>
  </div>
</div>

<p class='pt-2 text-gray-700 fw-700'>Assigned Instructors:</p>
  <ul>
    <% if @request.lead_instructor %>
      <li>
        <a href="mailto:<%= @request.lead_instructor.email rescue nil %>">
        <%= @request.lead_instructor.name rescue nil %></a>
      </li>
    <% end %>
    <% if @request.second_instructor %>
      <li>
        <a href="mailto:<%= @request.second_instructor.email rescue nil %>">
        <%= @request.second_instructor.name rescue nil %></a>
      </li>
    <% end %>
    <% if @request.third_instructor %>
      <li>
        <a href="mailto:<%= @request.third_instructor.email rescue nil %>">
        <%= @request.third_instructor.name rescue nil %></a>
      </li>
    <% end %>
  </ul>
  <% if !@request.lead_instructor && !@request.second_instructor && !@request.third_instructor %>
    <p class='pb-2 fw-700'>You will be notificed once request has been assigned.</p>
  <% end %>
