<div class='container ax-left'>
  <div class='card my-10'>
    <div class='card-body'>
      <%= image_tag attachments["#{Setting.mail_logo_url}"].url, alt: "#{Setting.app_name}", class: 'img-fluid h-16 w-auto ax-left mb-1' %>
      <hr class='text-red-700 bg-red-400 my-1' />
      <h1 class='h3 mt-3 mb-2'>Hi,</h1>
      <h5 class='text-dark fw-bold lh-base'><%= @lead_name %> has chose to <%= @response %> the following class request</h5>
      <h5 class='text-gray-700'>Comment/Reason Given: <span class='text-success'><%= @message %></span></h5>
      <div class='space-y-3 mt-3'>
        <div class='bg-gray-100 p-4'>
          <div class='row mt-2'><div class='col-12 fw-bold'><strong>TR-ID:</strong> <%= @request.id %></div></div>
          <div class='row mt-2'><div class='col-12'><strong>Course/Section:</strong></div></div>
          <div class='row mt-1'><div class='col-12 pl-2'><%= @request.faculty %> / <%= @request.subject %>: <%= @request.academic_year %> - [<%= @request.faculty_abbrev %> / <%= @request.subject_abbrev %> <%= @request.course_number %>]: <%= @request.course_title %><em><%= t(:title_not_provided) if @request.course_title == '' %></em> -
          <%= defined?(@request.section_name_or_about) ? truncate(@request.section_name_or_about, length: 25) : 'Untitled Section' %></div></div>
          <div class='row mt-2'><div class='col-12'><strong>Preferred Date / Time:</strong></div></div>
          <div class='row mt-1'><div class='col-12 pl-2'><%= @request.preferred_date.strftime('%b %d, %Y') %> / <%= @request.preferred_time.strftime('%I:%M %p') rescue nil %></div></div>
          <div class='row mt-2'><div class='col-12'><strong>Alternate Date / Time:</strong></div></div>
          <div class='row mt-1'><div class='col-12 pl-2'><%= @request.alternate_date.strftime('%b %d, %Y') rescue nil %> / <%= @request.alternate_time.strftime('%I:%M %p') rescue nil %></div></div>
          <div class='row mt-2'><div class='col-12'><strong>Duration & Location:</strong></div></div>
          <div class='row mt-1'><div class='col-12 pl-2'><%= @request.duration.text %> | <%= @request.location_preference.text %></div></div>
          <div class='row mt-2'><div class='col-12'><strong>Assigned Instructors:</strong></div></div>
          <div class='row mt-1'><div class='col-12 pl-2'>
            <%= @request.lead_instructor.name rescue nil%><br/>
            <%= @request.second_instructor.full_name rescue nil%><br/>
            <%= @request.third_instructor.full_name rescue nil%><br/>
          </div></div>
        </div>
      </div>

      <%= render partial: 'shared/mailer/auto_notification_footer' %>

    </div>
  </div>
</div>
