
<div class='row'>
  <div class='col'>
    <% page_title t(:update_teaching_request_status) %>
    <%= content_tag :h1, yield(:page_title) %>
    <hr class='primary'/>
  </div>
</div>
<div class='btn-toolbar justify-content-left' role='toolbar' aria-label='Toolbar with button groups'>
    <div class='btn-group me-2' role='group' aria-label='First group'>
      <%= link_to staff_dashboard_path(), class: 'btn btn btn-info' do %>
        <span class='fas fa-hand-point-left'></span> <%= t(:return_to_staff_dashboard) %>
      <% end %>
    </div>
  </div>

<div class='card w-90 mt-3'>
  <%= simple_form_for @teaching_request, url: staff_mark_unfulfilled_teaching_request_path(@teaching_request), html: { class: 'form-vertical' }, wrapper: :vertical_form, method: :patch do |f| %>
    <div class='card-body'>
      <div class='p-3 mb-2 bg-light' style='width:fit-content; height: fit-content;'>
        <p><%= t(:current_status) %>: <span class="text-muted fw-bold"><%= @teaching_request.status.text %></span></p>
        <p><%= t(:marking_it) %>: <span class="fw-bold text-info"><%= t(:unfulfilled) %></span></p>
      </div>
      <%= f.input :status, collection: TeachingRequest.status.options, selected: :done, include_blank: false, as: :hidden, input_html: {value: TeachingRequest.status.unfulfilled, class: "mt-3" } %>
      <%= f.input :instructor_notes, as: :rich_text_area, hint: 'Main topics covered, notes, reminder, reason for cancellation etc...', placeholder: "state any notes, status updates, reasons etc.", input_html: {class: "mt-3"} %>
      
      <%= f.button :submit, data: {confirm: 'Are you sure?'}, class: 'btn btn-success mt-2' do %>
          <%= t(:mark_it_unfulfilled) %>
          <i class='fa fa-arrow-right'></i>
      <% end %>
    </div>
  <% end %>
  
</div>
