
<!-- <h1>New Library Class Request</h1> -->
<div class='row'>
  <div class='col-md-12 col-sm-12'>
    <% page_title 'Teaching By Subjects' %>
    <h1><%= yield(:page_title) %></h1>
    <hr class='primary'/>
  </div>
</div>

<div class='row mt-3'>
  <div class='col-sm-12 col-md-6'>
    <div class='card mb-3 shadow p-4 rounded'>
      <div class='card-title'>
        <h2><%= t(:my_teachings_by_date) %></h2>
        <hr class='primary' />
      </div>
      <div class='card-body p-0'>
        <%= render 'form' %>
      </div>
    </div>
    <div class='card bg-white p-4'>
      <div class='card-title'>
        <h2><%= t(:all_teaching_counts_by_faculty) %></h2>
        <hr class='primary' />
      </div>
      <div class='card-body p-0'>
        <table class='table table-striped table-sm align-middle text-center'>
          <thead class='table-info'>
            <tr>
              <th scope='col'><%= t(:faculty) %></th>
              <th scope='col'><%= t(:abbrev) %></th>
              <th scope='col'><%= t(:teachings) %></th>
            </tr>
          </thead>
          <tbody>
            <% @counts_by_faculty.each do |f| %>
            <tr>
              <td><%= f.faculty %></td>
              <td><%= f.faculty_abbrev %></td>
              <td><%= f.teachings %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class='col-sm-12 col-md-6'>
    <div class='card bg-white p-4'>
      <div class='card-title'>
        <h2><%= t(:all_teaching_counts_by_faculty) %></h2>
        <hr class='primary' />
      </div>
      <div class='card-body p-0'>
        <table class='table table-striped table-sm align-middle text-center'>
          <thead class='table-info'>
            <tr>
              <th scope='col'><%= t(:subject) %></th>
              <th scope='col'><%= t(:abbrev) %></th>
              <th scope='col'><%= t(:teachings) %></th>
            </tr>
          </thead>
          <tbody>
            <% @counts_by_subject.each do |f| %>
            <tr>
              <td><%= f.subject %></td>
              <td><%= f.subject_abbrev %></td>
              <td><%= f.teachings %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-sm-12 col-md-6'>
    <div class='card bg-white p-4'>
      <div class='card-title'>
        <h2><%= t(:all_teaching_counts_by_faculty) %></h2>
        <hr class='primary' />
      </div>
      <div class='card-body p-0'>
        <table class='table table-striped table-sm align-middle text-center'>
          <thead class='table-info'>
            <tr>
              <th scope='col'><%= t(:faculty) %></th>
              <th scope='col'><%= t(:abbrev) %></th>
              <th scope='col'><%= t(:teachings) %></th>
            </tr>
          </thead>
          <tbody>
            <% @counts_by_faculty.each do |f| %>
            <tr>
              <td><%= f.faculty %></td>
              <td><%= f.faculty_abbrev %></td>
              <td><%= f.teachings %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br/>
