<p id='notice'><%= notice %></p>

<h1>Staff Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Specializtion job title</th>
      <th>Profile bio</th>
      <th>Role</th>
      <th>Department</th>
      <th>User</th>
      <th>Is approved</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_profiles.each do |staff_profile| %>
      <tr>
        <td><%= staff_profile.specializtion_job_title %></td>
        <td><%= staff_profile.profile_bio %></td>
        <td><%= staff_profile.role %></td>
        <td><%= staff_profile.department_id %></td>
        <td><%= staff_profile.user_id %></td>
        <td><%= staff_profile.is_approved %></td>
        <td><%= link_to 'Show', staff_profile %></td>
        <td><%= link_to 'Edit', edit_staff_profile_path(staff_profile) %></td>
        <td><%= link_to 'Destroy', staff_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff Profile', new_staff_profile_path %>
