<div class='container ax-left'>
  <div class='card my-10'>
    <div class='card-body'>
      <%= image_tag attachments["#{Setting.mail_logo_url}"].url, alt: "#{Setting.app_name}", class: 'img-fluid h-16 w-auto ax-left mb-1' %>
      <hr class='text-red-700 bg-red-400 my-1' />
      <h1 class='h3 mt-3 mb-2'>Hi <%= @request.first_name %>,</h1>
      <h5 class='text-gray-700 lh-base'>The following Class Request has been cancelled.</h5>
      <!-- <h5 class='text-success'>We will review your request and get in touch with you as soon as possible.</h5> -->
      <div class='space-y-3 mt-3'>
        <div class='bg-gray-100 p-3'>
          <%= render partial: 'shared/mailer/show_request_information_fields', locals: {:@request => @request} %>
        </div>
      </div>
      <p class='text-gray-700 mt-3'>If you have any further questions, please contact <a href="mailto:<%= Setting.director_email %>"><%= Setting.director_name %></a >, <%= Setting.director_position %>, <a href="mailto: <%= Setting.director_email %>"><%= Setting.director_email %></a>.</p><br/>
      <p class='text-gray-700'><em>Request has been removed from your dashboard</em></p>
      <a class='btn btn-success' href="<%= operators_index_url(host: Setting.web_host) %>" target='_blank'><%= Setting.app_name %> <%= t(:dashboard) %></a>

      <%= render partial: 'shared/mailer/auto_notification_footer' %>

    </div>
  </div>
</div>
